%h1 New user

= form_for :user, url: admins_path do |f|
  .form-group
    = f.label :username
    = f.text_field :username, class: "form-control", placeholder: "Username"
  .form-group
    = f.label :email, 'Email Address'
    = f.email_field :email, class: "form-control", placeholder: "Email"
  .form-group
    = f.label :password
    = f.password_field :password, class: "form-control", placeholder: "Password"
  .form-group
  .checkbox
    %label
      %input{:type => "checkbox"}
        Admin 
  = f.submit :submit, class: "btn btn-default"

= link_to 'Back', admins_path
