%h1 Listing users

%table.table
  %tr
    %th
      Email
    %th
      Username

  - @users.each do |user|
    %tr
      %td= link_to user.email, user_path(user)
      %td= user.username

    = link_to 'Show', user
    %br
    = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
